@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

input {
  font: inherit;
  max-width: 100%;
}
 

body {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    background: #313438;
}

tbody {
    border: none;
}

body.front .wrapper {
    background: url("../images/background.png") no-repeat;
    background-position: 50% 131px;
    min-width: 1200px
}

.header-top {
    height: 40px;
}

.header-top, .header {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}

.header > div {
    float: left;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
}

.sign-in ul {
    float: right;
    list-style: none;
    margin-right: 17px;
}

.sign-in ul li {
    float: left;
    margin: 10px 30px;
}

.sign-in ul li:first-child {
    border-right: 1px solid #ffffff;
    padding-right: 30px;
    margin-right: 0;
}

.sign-in ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 28px;
    background: url("../images/retailer.png") no-repeat;
    height: 20px;
    display: block;
}

.sign-in ul li.last a {
    background: url("../images/jury.png") no-repeat;
}

/* --------- Header --------- */

.logo a {
    margin: 30px 0 0 10px;
    float: left;
}

.logo img {
    width: 360px;
    max-height: 40px;
}

.navigation ul {
    float: left;
    list-style: none;
    margin-left: 45px;
    margin-top: 28px;
}

.navigation ul li {
    float: left;
    margin-right: 75px;
}

.navigation ul li a {
    color: #858B93;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
}

.ticket {
    background: #9c4b30;
    width: 194px;
    height: 90px;
    float: left;
}

.ticket img {
    margin: 15px 0 0 0;
}

.ticket a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header-main {
    height: 90px;
    background: url("../images/header-bg.png") repeat-x;
}

.content-main {
    position: relative;
}

.left-sidebar {
    width: 983px;
}

.right-sidebar {
    background: #fff;
    float: left;
    vertical-align: top;
    text-align: center;
    width: 194px;
    position: absolute;
    top: -89px;
    right: 23px;
    min-height: 100%;
}

marquee {
    text-align: center;
}

.date {
    text-align: center;
    color: #fff;
    height: 370px;
    padding-top: 120px;
}

.date h3 {
    font-size: 47.83px;
    font-weight: bold;
    line-height: 35.87px;
}

.date h1 {
    font-size: 59.87px;
    font-weight: normal;
}


.award-main {
    background: #313438;
    padding: 22px 40px 0 10px;
    position: relative;
}

.orange-line {
    background: #c3ab51;
    height: 25px;
    width: 100px;
    position: absolute;
    left: -100px;
    top: 25px;
}

.content-block h2 {
    color: #858b93;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
}

.award p {
    color: #adb6c3;
    padding-right: 70px;
}

.award.table {
    display: table;
}

.award.table > .field {
    display: table-cell;
}

.award.table .btn a {
    background: url("../images/word.png") no-repeat;
    display: block;
    width: 150px;
    height: 174px;
    font-size: 0;
}

.footer {
    margin: 150px 40px 0 0;
    border-top: 5px solid #555d68;
    padding: 30px 10px;
    overflow: hidden;
}

.footer p {
    color: #fff;
}

.footer-left {
    float: left;
}

.footer-left span {
    font-size: 24px;
    color: #ffffff;
    display: block;
    margin-bottom: 60px;
}

.footer-right {
    float: right;
}

.footer-right ul {
    list-style: none;
    overflow: hidden;
    float: left;
}

.footer-right ul li {
    margin: 0 30px 20px 0;
}

.footer-right p.bold {
    font-weight: bold;
}

.footer-right p a {
    color: #bea858;
}

.footer-right span {
    font-weight: bold;
}

.footer-logo {
    border-top: 5px solid #555d68;
    padding: 30px 10px;
    margin-right: 40px;
    overflow: hidden;
}

.footer-logo a {
    display: inline-block;
    text-align: center;
    margin-left: 80px;
}

.footer-logo a:first-child{
    margin: 0;
}

.content {
    color: #adb6c3;
}

.view-partners {
    color: #313438;
}

.file-icon {
    display: none;
}

.grippie {
    display: none;
}

input.form-text, textarea {
    background: #363a3e;
    padding: 5px;
    border: 1px solid #858b93;
    color: #ffffff;
    max-width: 97%;
}

input.form-submit, .go-to-vote-link, .change-pass {
    background: #c3ab51;
    padding: 5px 20px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}

.change-pass {
    display: block;
    margin-top: 10px;
    float: left;
    text-decoration: none;
}

.go-to-vote-link {
    float: left;
    display: block;
    margin: 10px;
    text-decoration: none;
}

.go-to-vote-link a {
    text-decoration: none;
}

.description {
    display: none;
}

h1.title {
    color: #858b93;
    font-weight: bold;
    font-size: 24px;
}

.login-container {
    margin-top: 30px;
    overflow: hidden;
}

.login-container h3 {
    color: #ffffff;
}

.authorization {
    float: left;
    position: relative;
}

.authorization p {
    margin-bottom: 20px;
}

.role-form {
    padding-left: 60px;
    border-left: 1px solid #72777e;
    float: right;
    width: 45%;
}

.view--cre-retail-awards .views-row {
    clear: both;
    width: 670px;
    overflow: hidden;
    background-size: 20px;

    position: relative;
    margin: 0 auto 20px;
}

.title-votes {
    float: left;
    background: #313438;
    padding-right: 20px;
    font-size: 24px;
    color: #ffffff;
}

.field-name-field-votes {
    right: 0;
    top: 0;
    background: #313438;
    color: #c3ab51;
    padding: 8px 0 7px 10px;
    position: absolute;
}

.line {
    background: #555d68;
    margin-top: 10px;
    height: 14px;
}

#block-views-gallery-block > div.content > div > div > div > div > div > ul > li {
    width: 200px !important;
    height: 410px;
    background: #555d68;
}

.region-carusel .view-gallery {
    height: 420px;
}

.jcarousel-skin-default {
    text-align: left;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
    margin: 0 20px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
    width: 720px;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 720px;
}

a.cboxElement {
    outline: 0;
}

.views-field-field-fio, .views-field-field-job, .views-field-field-company {
    padding-left: 10px;
}

.jcarousel-container .views-field-field-fio {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.jcarousel-container .views-field-field-job {
    color: #ffffff;
}

.jcarousel-container .views-field-field-company {
    text-transform: uppercase;
    color: #b8c7e0;
}

.jcarousel-skin-default .jcarousel-item {
    border: none;
}

.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
    width: 43px;
    height: 146px;
}

.jcarousel-skin-default .jcarousel-next {
    background: url("../images/arrow-next.png") no-repeat;
}

.jcarousel-skin-default .jcarousel-prev {
    background: url("../images/arrow-white.png") no-repeat;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
    top: 120px;
    left: -60px;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
    top: 120px;
    right: -60px;
}

fieldset {
    border: none;
}

fieldset .fieldset-legend,
fieldset .fieldset-description {
    display: none;
}

.sign-in a.active {
    color: #c3ab51;
    background: url("../images/jury.png") no-repeat;
}

.voting-link {
    display: block;
    text-decoration: none;
    float: left;
    background: #c3ab51;
    padding: 10px 40px;
    border: 0;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: -450px;
}

.view-static-partners-view {
    color: #000;
}

.password-suggestions ul {
    list-style: none;
}

#edit-simplenews {
    display: none;
}

#edit-field-logotipe-und-0-upload-button {
    display: none;
}

#edit-field-photo-und-0-upload-button {
    display: none;
}

/* --------- Table style ----------*/

table {
    border: 0;
    border-spacing: 0;
    margin: 10px 0;
    width: 100%;
}

table table {
    font-size: 1em;
}

#footer-wrapper table {
    font-size: 1em;
}

table tr th {
    background: #4d4d4d;
    border-bottom-style: none;
}

table tr th,
table tr th a,
table tr th a:hover {
    color: #FFF;
    font-weight: bold;
}

table tbody tr th {
    vertical-align: top;
}

tr td,
tr th {
    padding: 4px;
    border: 1px solid #858b93;
    text-align: left; /* LTR */
    color: #adb6c3;
}

table ul.links {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

table ul.links li {
    padding: 0 1em 0 0;
}

caption {
    font-size: 18px;
}

.views-field-views-send .form-item, .form-actions {
    margin: 0;
}

a.username {
    color: #adb6c3;
}

/** ---------- Spoiler -----------*/

fieldset.collapsible {
    position: relative;
}

#views-form-send-news-page fieldset {
    border: 1px solid #858b93;
    margin-top: 10px;
    margin-bottom: 32px;
    padding: 0 0 10px;
    position: relative;
    top: 12px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#views-form-send-news-page fieldset legend {
    background: #4d4d4d;
    border: 1px solid #858b93;
    border-bottom: none;
    color: #3b3b3b;
    display: block;
    height: 2em;
    left: -1px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
    -khtml-border-radius-topleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -khtml-border-radius-topright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

#views-form-send-news-page fieldset .fieldset-wrapper {
    padding: 0 10px;
}

.fieldset-wrapper {
    margin-top: 25px;
}

.form-item {
    margin-bottom: 1em;
    margin-top: 2px;
}

fieldset {
    margin: 0;
    padding: 0;
}

.form-actions a.active {
    background: #c3ab51;
    padding: 3px 20px 4px;
    border: 0;
    color: #adb6c3;
    text-decoration: none;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

a.fieldset-title {
    text-decoration: none;
    color: #fff;
}

#edit-headers {
    display: none;
}

.sticky-enabled tr.even, tr.odd {
    background: 0;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}

#block-block-3 p {
    height: 75px;
    background: #c3ab51;
    padding-top: 15px;
}

#block-block-3 p a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.white-block {
    height: 90px;
    background: #ffffff;
    width: 100%;
    position: absolute;
    bottom: -89px;
}

#voting-margin {
    margin: 10px 0;
}

#edit-views-send-message-format {
    display: none;
}

.sign {
    float: left;
    color: #ffffff;
    margin: 10px 0 0 10px;
    font-size: 16px;
}

.exit-link {
    color: #c3ab51;
    margin-left: 20px;
}

.menu-content {
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    margin: 15px 0 10px 0;
}

.menu-content a {
    float: left;
    color: #ffffff;
    background: #c3ab51;
    text-decoration: none;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
    width: 430px;
    height: 100px;
    padding: 10px;
}

.menu-content a p {
    font-size: 36px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.menu-content a span {
    display: block;
    margin-top: 10px;
}

#node-2 .field-name-body {
    width: 50%;
    float: right;
}

#webform-client-form-2 {
    width: 400px;
}


.view-first-vote {
    overflow: hidden;

}

.merge {
    float: right;
    width: 40%;
}

.view-first-vote .views-row {
    margin-bottom: 30px;
}

.view-first-vote .node-vote-form {
    width: 49%;
    float: left;
}

#edit-field-hypermarket-1 label {
    display: none;
}

#edit-field-hypermarket-1 h3 {
    color: #858b93;
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.field-shop-1-add-more-wrapper {
    clear: both;
}

.view-first-vote .views-field p {
    margin-top: 10px;
}

.vertical-tabs.clearfix {
    display: none;
}

.view-second-vote td {
    padding: 0;
}

.view-second-vote h2 {
    margin: 0;
    border-bottom: 1px solid;
    padding: 4px;
    text-align: center;
}

.view-second-vote h2 a {
    text-decoration: none;
    color: #858b93;
}

.view-second-vote .form-submit {
    /*display: none;*/
}

.view-second-vote form {
    padding: 10px 10px;
}

.voting td {
    vertical-align: top;

}