@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

body {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    background: #313438;
}

tbody {
    border: none;
}

body.front .wrapper {
    background: url("../images/background.png") no-repeat;
    background-position: 50% 131px;
    min-width: 1200px
}

.header-top {
    height: 40px;
}

.header-top, .header {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}

.header > div {
    float: left;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
}

.sign-in ul {
    float: right;
    list-style: none;
    margin-right: 17px;
}

.sign-in ul li {
    float: left;
    margin: 10px 30px;
}

.sign-in ul li:first-child {
    border-right: 1px solid #ffffff;
    padding-right: 30px;
    margin-right: 0;
}

.sign-in ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 28px;
    background: url("../images/retailer.png") no-repeat;
    height: 20px;
    display: block;
}

.sign-in ul li.last a {
    background: url("/sites/all/themes/awards/images/jury.png") no-repeat;
}

/* --------- Header --------- */

.logo a {
    margin: 30px 0 0 10px;;
    float: left;
}

.navigation ul {
    float: left;
    list-style: none;
    margin-left: 45px;
    margin-top: 28px;
}

.navigation ul li {
    float: left;
    margin-right: 75px;
}

.navigation ul li a {
    color: #858B93;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
}

.ticket {
    background: #9c4b30;
    width: 194px;
    height: 90px;
    float: left;
}

.ticket img {
    margin: 15px 0 0 0;
}

.ticket a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header-main {
    height: 90px;
    background: url("../images/header-bg.png") repeat-x;
}

.content-main {
    position: relative;
}

.left-sidebar {
    width: 983px;
    float: left;
}

.right-sidebar {
    background: #fff;
    float: left;
    vertical-align: top;
    text-align: center;
    width: 194px;
    position: absolute;
    top: -89px;
    right: 23px;
    min-height: 100%;
}

marquee {
    text-align: center;
}

.date {
    margin: 0 42px 0 131px;
    text-align: center;
    color: #fff;
    height: 370px;
    padding-top: 120px;
}

.date h3 {
    font-size: 47.83px;
    font-weight: bold;
    line-height: 35.87px;
}

.date h1 {
    font-size: 59.87px;
    font-weight: normal;
}

.content-block {
    background: url("../images/orange-bg.png") repeat-x;
    background-position: 0 25px;
}

.award-main {
    background: #313438;
    padding: 22px 40px 0 10px;
    position: relative;
}

.orange-line {
    background: url("../images/orange-bg.png") repeat-x;
    height: 25px;
    width: 100px;
    position: absolute;
    left: -100px;
    top: 25px;
}

.content-block h2 {
    color: #858b93;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
}

.award p {
    color: #adb6c3;
    padding-right: 70px;
}

.award.table {
    display: table;
}

.award.table > .field {
    display: table-cell;
}

.award.table .btn a {
    background: url("../images/word.png") no-repeat;
    display: block;
    width: 150px;
    height: 174px;
    font-size: 0;
}

.footer {
    margin: 150px 40px 0 0;
    border-top: 5px solid #35383d;

    padding: 20px 10px;
}

.footer p {
    color: #fff;
}

.content {
    color: #adb6c3;
}

.view-partners {
    color: #313438;
}

.file-icon {
    display: none;
}

.grippie {
    display: none;
}

input.form-text, textarea {
    background: #363a3e;
    padding: 5px;
    border: 1px solid #858b93;
    color: #ffffff;
    max-width: 97%;
}

input.form-submit, .go-to-vote-link {
    background: #9b4a2f;
    padding: 5px 20px;
    border: 0;
    color: #ffffff;
}

.go-to-vote-link {
    float: left;
    display: block;
    margin: 10px;
    text-decoration: none;
}

.go-to-vote-link a {
    text-decoration: none;
}

.description {
    display: none;
}

h1.title {
    color: #858b93;
    font-weight: bold;
    font-size: 24px;
}

.login-container {
    margin-top: 30px;
    overflow: hidden;
}

.login-container h3 {
    color: #ffffff;
}

.authorization {
    float: left;
    position: relative;
    width: 45%;
}

.role-form {
    padding-left: 50px;
    border-left: 1px solid #72777e;
    float: right;
    width: 45%;
}

.view--cre-retail-awards .views-row {
    clear: both;
    width: 670px;
    overflow: hidden;
    background-size: 20px;

    position: relative;
    margin: 0 auto 20px;
}

.title-votes {
    float: left;
    background: #313438;
    padding-right: 20px;
    font-size: 24px;
    color: #ffffff;
}

.field-name-field-votes {
    right: 0;
    top: 0;
    background: #313438;
    color: #dd5424;
    padding: 8px 0 7px 10px;
    position: absolute;
}

.line {
    background: #555d68;
    margin-top: 10px;
    height: 14px;
}

#block-views-gallery-block > div.content > div > div > div > div > div > ul > li {
    width: 200px !important;
    height: 410px;
    background: #555d68;
}

.region-carusel .view-gallery {
    height: 410px;
}

.jcarousel-skin-default {
    text-align: left;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
    margin: 0 20px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
    width: 720px;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 720px;
}

a.cboxElement {
    outline: 0;
}

.views-field-field-fio, .views-field-field-job, .views-field-field-company {
    padding-left: 10px;
}

.views-field-field-fio {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.views-field-field-job {
    color: #ffffff;
}

.views-field-field-company {
    text-transform: uppercase;
    color: #b8c7e0;
}

.jcarousel-skin-default .jcarousel-item {
    border: none;
}

.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
    width: 43px;
    height: 146px;
}

.jcarousel-skin-default .jcarousel-next {
    background: url("../images/arrow-next.png") no-repeat;
}

.jcarousel-skin-default .jcarousel-prev {
    background: url("../images/arrow-white.png") no-repeat;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
    top: 120px;
    left: -60px;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
    top: 120px;
    right: -60px;
}

fieldset {
    border: none;
}

fieldset .fieldset-legend,
fieldset .fieldset-description {
    display: none;
}

.sign-in a.active {
    color: #9b4a2f;
    background: url("../images/jury.png") no-repeat;
}

.voting-link {
    display: block;
    text-decoration: none;
    float: left;
    background: #9b4a2f;
    padding: 10px 40px;
    border: 0;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: -450px;
}

.view-static-partners-view {
    color: #000;
}

.password-suggestions ul {
    list-style: none;
}

#edit-simplenews {
    display: none;
}

#edit-field-logotipe-und-0-upload-button {
    display: none;
}

#edit-field-photo-und-0-upload-button {
    display: none;
}

/* --------- Table style ----------*/

table {
    border: 0;
    border-spacing: 0;
    margin: 10px 0;
    width: 100%;
}

table table {
    font-size: 1em;
}

#footer-wrapper table {
    font-size: 1em;
}

table tr th {
    background: #4d4d4d;
    border-bottom-style: none;
}

table tr th,
table tr th a,
table tr th a:hover {
    color: #FFF;
    font-weight: bold;
}

table tbody tr th {
    vertical-align: top;
}

tr td,
tr th {
    padding: 4px 9px;
    border: 1px solid #858b93;
    text-align: left; /* LTR */
    color: #adb6c3;
}

table ul.links {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

table ul.links li {
    padding: 0 1em 0 0;
}

caption {
    font-size: 18px;
}

.views-field-views-send .form-item, .form-actions {
    margin: 0;
}

a.username {
    color: #adb6c3;
}

/** ---------- Spoiler -----------*/

fieldset.collapsible {
    position: relative;
}

#views-form-send-news-page fieldset {
    border: 1px solid #858b93;
    margin-top: 10px;
    margin-bottom: 32px;
    padding: 0 0 10px;
    position: relative;
    top: 12px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#views-form-send-news-page fieldset legend {
    background: #4d4d4d;
    border: 1px solid #858b93;
    border-bottom: none;
    color: #3b3b3b;
    display: block;
    height: 2em;
    left: -1px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
    -khtml-border-radius-topleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -khtml-border-radius-topright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

#views-form-send-news-page fieldset .fieldset-wrapper {
    padding: 0 10px;
}

.fieldset-wrapper {
    margin-top: 25px;
}

.form-item {
    margin-bottom: 1em;
    margin-top: 2px;
}

fieldset {
    margin: 0;
    padding: 0;
}

.form-actions a.active {
    background: #9b4a2f;
    padding: 3px 20px 4px;
    border: 0;
    color: #adb6c3;
    text-decoration: none;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

a.fieldset-title {
    text-decoration: none;
    color: #fff;
}

#edit-headers {
    display: none;
}

.sticky-enabled tr.even, tr.odd {
    background: 0;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}

#block-block-3 p {
    height: 75px;
    background: #9b4a2f;
    padding-top: 15px;
}

#block-block-3 p a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.white-block {
    height: 90px;
    background: #ffffff;
    width: 100%;
    position: absolute;
    bottom: -89px;
}

#voting-margin {
    margin: 10px 0;
}

#edit-views-send-message-format
{
    display: none;
}

#edit-locale {
    visibility: hidden;
}